# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Makefile
man/man*/*.1
man/man*/*.2
man/man*/*.3
man/man*/*.4
man/man*/*.5
man/man*/*.6
man/man*/*.7
man/man*/*.8
.*.swp

bin/ad/ad
bin/adv1tov2/adv1tov2
bin/aecho/aecho
bin/getzones/getzones
bin/megatron/megatron
bin/misc/afpldaptest
bin/misc/fce
bin/misc/logger_test
bin/misc/netacnv
bin/nbp/nbplkup
bin/nbp/nbprgstr
bin/nbp/nbpunrgstr
bin/pap/pap
bin/pap/papstatus
bin/psorder/psorder
bin/uniconv/uniconv
config/pam/netatalk.pam
contrib/shell_utils/lp2pap.sh
etc/afpd/afpd
etc/afpd/fce
etc/afpd/hash
etc/atalkd/atalkd
etc/cnid_dbd/cnid_dbd
etc/cnid_dbd/cnid_metad
etc/cnid_dbd/dbd
etc/papd/papd
etc/papd/showppd
etc/psf/psa
etc/psf/psf
etc/uams/.libs/
libatalk/.libs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
iwh-atalkd
iwh-nbplkup
iwh-pap
iwh-papstatus
install_manifest.txt
